.month-list {
  flex: 0 1 100%;
  color: #333333;
  margin: 1em 0;
}

.month-list__header {
  position: relative;
  padding: 0.8em;
  text-align: center;
  color: #eeeeee;
  background-color: #658283;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: 1px solid #666666;
}

.month-list__label {
  font-size: 1.75em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  vertical-align: middle;
}

.month-list__content {
  padding: 0.6em 0.4em;
  color: #111111;
  background-color: #6f7678;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

@media (min-width: 768px) and (max-width: 960px) {
  .month-list {
    font-size: 0.9em;
  }
}

@media (min-width: 768px) {
  .month-list {
    flex: 0 1 calc(50% - 1.2em);
  }
}
