.routine {
  margin: 0.4em 0;
}

.routine__desc {
  vertical-align: super;
  width: 60%;
}

.routine__key {
  height: 32px;
  width: 32px;
  display: inline-block;
  vertical-align: top;
}

.routine__img {
  margin: 0 0.8em 0 0;
}

.routine__number {
  text-align: center;
  font-size: 32px;
  line-height: 32px;
  font-weight: bold;
  margin-right: 0.33em;
}
